.btn {
    display: inline-flex;
    align-items: center;
    padding: 13px 28px;

    font-family: inherit;
    font-size: 16px;
    line-height: 1.1;
    color: var(--primary);
    font-weight: 700;
    text-decoration: none;

    background-color: var(--light);
    border-radius: 44px;
}

.btn-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.btn--large {
    font-size: 24px;
    text-transform: uppercase;
}

.btn--small {
    font-size: 12px;
}

.btn--shadow {
    box-shadow: 0 5px 18px rgba(108, 110, 237, 0.6);
}



.btn--primary {
    padding: 22px 35px;

    background-color: var(--primary);
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(44, 48, 56, 0.4);

    font-size: 18px;
    font-weight: 700;
    color: var(--light);
}

.btn-primary-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}