.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    max-height: 966px;
    padding-bottom: 75px;

    background-image:
        url("../images/dot.png"),
        linear-gradient(to bottom, #050505, #090926 50%, #141313);
    background-size: 8px, auto;
}

.hero-title {
    background-image: linear-gradient(to right, var(--pink-light), var(--pink-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 100px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    filter: drop-shadow(0 4px 40px rgba(0, 0, 0, 1));

    position: relative;
    z-index: 1;
}

.hero-image {
    display: block;
    margin: -53px auto 0;
    max-width: 100%;
    height: auto;

    position: relative;
    z-index: 2;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    padding: 0 117px;
}

.hero-list--right {
    text-align: right;
}

.hero-list-title {
    font-weight: 300;
    font-size: 22px;
    color: var(--gray-text);
}

.hero-list-text {
    margin-left: 0;

    font-weight: 800;
    font-size: 32px;
    color: var(--light);
    letter-spacing: var(--letter-spacing);
}

.hero-footer {
    margin-top: 80px;

    text-align: center;
}