.info {
    display: flex;
    align-items: center;
    gap: 30px;

    + .info {
        margin-top: 160px;
    }
}

.info-col {
    flex: 0 1 50%;
}

.info-photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.info-title {
    margin-bottom: 30px;

    font-size: 64px;
    color: var(--primary);
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: var(--letter-spacing);
}

.info-title--light {
    color: var(--light);
    opacity: 0.6;
}

.info-text {
    margin-bottom: 60px;

    font-size: 20px;
    color: var(--gray-text);
    line-height: 1.8;
}

.info--reviews {
    padding: 0 115px;
    
}