.reviews-item {
    padding: 35px;
    background-color: var(--light);
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reviews-photo {
    display: block;
    width: 75px;
    height: 75px;
    
}


.reviews-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--primary);
    font-weight: 800;
}

.reviews-text {
    font-size: 16px;
    color: var(--gray-text);
    line-height: 160%;
    p {
        margin: 0;
        + p {
            margin-top: 10px;
        }
    }
}