@import "helpers.css";
@import "header.css";
@import "nav.css";
@import "btn.css";
@import "hero.css";
@import "section.css";
@import "info.css";
@import "benefits.css";
@import "tech-list.css";
@import "random-text.css";
@import "badge.css";
@import "reviews.css";
@import "slider.css";
@import "gallery.css";

:root {
    --primary: #2C3038;
    --light: #fff;
    --gray-text: #888E95;
    --green: #2EBB79;
    --pink-light: #E0416E;
    --pink-dark: #A6002F;

    --header-z: 1000;

    --letter-spacing: -3%;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;

    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--primary);

    background-color: var(--primary);
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 30px;
}